body {
    font-family: "Consolas", monospace;
    font-size: 0.8em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

a:link{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
    text-decoration: none;
}

tr:nth-child(even) {
    background: #EEE
    }
tr:nth-child(odd) {
    background: inherit
}